:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  color-scheme: light dark;
  line-height: 2.5;
  background: #161616;
}

.gameWrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.dot.red {
  background: red;
}

.dot.green {
  background: green;
}

.dot.blue {
  background: blue;
}
